@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .heading {
    font-size: 3rem;
  }
  header .fa-bars {
    display: block;
  }

  header .navbar {
    background-color: red;
    position: fixed;
    top: 5.7rem;
    background-color: #fff;
    width: 100%;
    left: 0;
    border-radius: 1rem;
    display: none;
    transition: 0.2s linear;
  }

  header .nav-toggle {
    display: block;
    top: 5.5rem;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    font-size: 3rem;
    display: block;
  }

  .home .content p {
    font-size: 2rem;
    color: #eee;
    padding: 1.5rem 2rem;
  }
  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .home .box-container .box {
    width: 90%;
  }

  .home::before {
    display: none;
  }

  .about .row {
    flex-flow: column-reverse;
  }

  .about .content {
    padding: 0 2.5rem;
  }

  .about .image img {
    width: 90vw;
    height: 60vh;
  }
  .course .box-container {
    width: 100%;
  }

  .review .box-container {
    width: 100%;
  }

  .contact .row {
    flex-flow: column;
  }

  .contact .row .image img {
    height: 50vh;
    width: 90vw;
  }

  .contact .row .form-container {
    width: 90%;
    padding: 0;
  }
}
